/* FAQ.css */
.faq {
    background-color: #fefafa;
    color: #080808;
    padding: 50px 20px;
}

.faq h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.question {
    margin-bottom: 20px;
}

.question h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.question p {
    font-size: 16px;
}
